<div class="container">
  <h4>ARAÇLAR</h4>

  <div class="row">
    <div class="col-12 mb-3">
      <label for="filterText" class="form-label">Araba Ara</label>
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control"
        id="filterText"
        placeholder="Arama İfadesi"
      />
      <div *ngIf="filterText" class="alert alert-info mt-1">
        {{ filterText }} aradınız.
      </div>
    </div>
    <ng-container *ngFor="let carDetail of carsWithDetails">
      <div class="col-4 mb-3">
      <div class="card">
        <div class="card">
          <div>
            <img
              [src]="getImageUrl(carDetail.carImages[0].imagePath)"
              class="card-img-top"
              style="height: 200px"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ carDetail.carName }}</h5>
            <p class="card-text">
              <b>Model Yılı:</b> {{ carDetail.modelYear }}
            </p>
            <hr />
            <p class="card-text"><b>Renk:</b> {{ carDetail.colorName }}</p>
            <hr />
            <p class="card-text">
              <b>Günlük Fiyat:</b> {{ carDetail.dailyPrice }} ₺
            </p>
            <hr />
            <p class="card-text">
              <b>Açıklama:</b> {{ carDetail.description }}
            </p>
            <a
              routerLink="/cars/carDetails/{{ carDetail.id }}"
              class="btn btn-primary"
              >Detay</a
            >
          </div>
        </div>
      </div>
    </div>
    </ng-container>
  </div>
</div>
